<header>
    <nav class="container">
        <h1>BeninCulture</h1>
        <ul>
            <li><a href="/index.html">Accueil</a></li>
            <li><a href="/pages/decouvrir.html">Découvrir</a></li>
            <li><a href="/pages/inscription.html">Inscription</a></li>
            <li><a href="/pages/connexion.html">Connexion</a></li>
            <li><a href="/pages/deconnexion.html">Déconnexion</a></li>
        </ul>
    </nav>
</header>
<header class="site-header">
    <nav class="container navbar">
        <a class="brand" href="../index.html">BeninCulture</a>
        <ul class="nav-links">
            <li><a href="../index.html">Accueil</a></li>
            <li class="dropdown">
                <a href="decouvrir.html">Découvrez</a>
                <ul class="dropdown-menu">
                    <li><a href="vodouns.html">Vodouns</a></li>
                    <li><a href="royaumes.html">Royaumes</a></li>
                    <li><a href="villes.html">Villes</a></li>
                    <li><a href="sites.html">Sites touristiques</a></li>
                    <li><a href="musees.html">Musées</a></li>
                    <li><a href="danses.html">Danses</a></li>
                    <li><a href="masques.html">Masques</a></li>
                </ul>
            </li>
            <li><a href="inscription.html">Inscription</a></li>
            <li><a href="connexion.html">Connexion</a></li>
            <li><a href="deconnexion.html">Déconnexion</a></li>
        </ul>
    </nav>
</header>